/* You can add global styles to this file, and also import other style files */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 64.5%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #141414; */
  color: white;
}

.header-container h1 {
  font-size: 32px;
  color: #e50914;
}

.header-container select {
  margin-right: 10px;
  padding: 8px 16px;
}

.header-container button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.main{
  margin: 0 auto;
  /* background-color: black; */
  max-width: 196.6rem;

}

.main-section{
  background-image: url("../assets/imgs/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* background-color: rgba(55, 53, 53, 0.8); */
  opacity: 1.9;
  max-width: 196.6rem;
  border: 3px solid red;
}

.started-container{
   text-align: center;

}
.started-header{
  font-size: 4.8rem;
  color: #fff;
  font-weight: 900;
line-height: 1.2;
text-align: center;
margin-bottom: 1.6rem;

}

.started-subheader{
font-size: 20px;
font-weight: 400;
color: #FFFFFF;
margin-bottom: 2rem;
}

.started-subheader-one{
  font-size: 16px;
color: #FFFFFF;
margin-bottom: 1.6rem;
}
.started-input{
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  height: 4.8rem;
  width: auto;
  background-color: #000;
  color: #fff;
  margin-right: 1.2rem;
 border: 1px solid #333;

}

.started-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  height: 4.8rem;
  cursor: pointer;
}
.started-button:hover,
.started-button:active {
  background-color: #85050b;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  height: 4.8rem;
  cursor: pointer;
}